@import '../../design-tokens/variables.scss';

.nav {
	padding: 2rem 0;
	background: #fff;
	position: sticky;
	top: 0;
	transition: box-shadow 0.7s ease;

	@include respond-to(medium) {
		padding: 3rem 0;
	}

	&.sticky {
		box-shadow: 0 10px 33px rgba(#000000, 0.1);
	}

	.container {
		width: 90%;
		max-width: 1320px;
		margin: 0 auto;
		padding: 0 1.2rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include respond-to(medium) {
			align-items: center;
		}
	}

	.menu-toggle {
		width: 33px;
		height: 33px;

		@include respond-to(medium) {
			display: none;
		}
	}

	.nav-list {
		width: 100%;
		margin: 0;
		height: 0;
		overflow: hidden;
		list-style: none;
		padding: 0;
		transition: all 0.5s ease-in-out;

		@include respond-to(medium) {
			height: auto;
			width: 50%;
			display: flex;
			justify-content: space-between;
			transition: none;
		}

		&.open {
			height: 145px;
			margin: 1.2rem;
		}

		.nav-item {
			padding: 0.8rem 0;
			font-size: 1.3rem;
			font-weight: 700;
			letter-spacing: 0.5px;

			@include respond-to(medium) {
				padding: 0;
			}

			a {
				text-decoration: none;
				text-transform: uppercase;
				color: #333;
				width: 100%;
				display: block;
				transition: color 0.5s;

				&:hover {
					color: #007bff;
				}
			}
		}
	}

	.socials {
		width: 100%;
		display: flex;
		justify-content: center;
		height: 0;
		overflow: hidden;
		transition: all 0.5s ease-in-out;

		@include respond-to(medium) {
			height: auto;
			width: 5%;
			justify-content: space-between;
			transition: none;
		}

		&.open {
			height: 30px;
		}

		.social-icon {
			width: 18px;
			height: 18px;
			display: inline-block;
			margin: 0 0.8rem;

			path {
				fill: #007bff;
				transition: fill 0.5s;
			}

			&:hover path {
				fill: #333;
			}

			@include respond-to(medium) {
				margin: 0;
			}
		}
	}
}
